@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

$primary-color:#88B2D0;
$secondary-color: #F5DEAA;
$tertiary-color: #292929;
$quartiary-color: #F9F9F9;

$post-it-colors: 
    #F8C6C6,
    #A8DFA0,
    #7C95B7,
;

$post-it-rotations: 
    -5deg, 
    3deg, 
    -2deg, 
    4deg, 
    -4deg, 
    2deg
;

$font1: "Just Another Hand", cursive;
$font2: Arial, Helvetica, sans-serif;