@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
#postItModal .modal-content, form, .post-it {
  display: flex;
  flex-direction: column;
}

#postItModal #closeModal, form button {
  background-color: #F5DEAA;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#postItModal .modal-content span p, form a, form label, .post-it .user-name, .post-it .date-text {
  font-size: 0.8rem;
  color: #2e2e2e;
}

.post-it h2 {
  font-family: "Just Another Hand", cursive;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #88B2D0;
}

form h1, .nav-title h1 {
  font-family: "Just Another Hand", cursive;
  padding: 0;
  margin: 0;
  font-size: 3.7rem;
  color: #080808;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.nav-title h1 {
  margin: 20px;
}
.nav-title a > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px dashed #292929;
  background-color: #F9F9F9;
  padding: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.nav-title a > button img {
  width: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1040px;
  width: 90%;
  min-height: 500px;
  gap: 10px;
  background: #292929;
  border-radius: 20px;
  padding: 10px;
  border: 8px solid #F5DEAA;
  flex-wrap: wrap;
}

.post-it {
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}
.post-it h2 {
  font-size: 2rem;
  font-weight: 400;
}
.post-it .text-post-it {
  font-size: 1.5rem;
  font-family: "Just Another Hand", cursive;
}
.post-it hr {
  border: 1px solid rgba(0, 0, 0, 0.4235294118);
}
.post-it::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(151, 17, 17);
  top: 10px;
  left: 45%;
  border-radius: 50px;
  box-shadow: 5px 5px 10px -2px #080808, inset 1px 1px 1px 1px rgb(190, 56, 56);
}

.post-it.color-0 {
  background-color: #F8C6C6;
  transform: rotate(-5deg);
}
.post-it.color-0::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  background-color: #F8C6C6;
  border-top-left-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.671) 0px 7px 29px 0px;
}

.post-it.color-1 {
  background-color: #A8DFA0;
  transform: rotate(3deg);
}
.post-it.color-1::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  background-color: #A8DFA0;
  border-top-left-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.671) 0px 7px 29px 0px;
}

.post-it.color-2 {
  background-color: #7C95B7;
  transform: rotate(-2deg);
}
.post-it.color-2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  background-color: #7C95B7;
  border-top-left-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.671) 0px 7px 29px 0px;
}

form {
  background: #F9F9F9;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  gap: 10px;
}
form input, form textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(46, 46, 46, 0.3882352941);
  font-family: "Just Another Hand", cursive;
  font-size: 1.7rem;
}
form textarea {
  min-height: 200px;
}
form label {
  font-weight: 600;
}
form a {
  text-decoration: underline;
  text-align: center;
}
#postItModal {
  padding: 10px;
  border: none;
  border-radius: 10px;
  max-width: 500px;
  height: auto;
  width: 90%;
}
#postItModal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
#postItModal .modal-content {
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}
#postItModal .modal-content h2, #postItModal .modal-content #modalText {
  font-family: "Just Another Hand", cursive;
  font-size: 1.5rem !important;
  font-weight: 400;
}
#postItModal .modal-content span:first-child h2 {
  font-size: 2rem !important;
}

/*# sourceMappingURL=style.css.map */
